@import '../fonts.scss';
@import '../common.scss';
@import '../avatar.scss';

body {
  background-color: #0ff;
}

#root>div {
  width:700px;
  margin: 20px auto;
  aside {
    width: 200px;
    float: left;
    background-color: yellow;
    a {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid black;
      font-size: 20px;
      text-decoration: none;
      color: black;
      background-color: gray;
      span {
        margin-left: 5px;
      }
      &.active {
        background-color: white;
      }
    }
  }
  main {
    width: 480px;
    min-height: 600px;
    float: left;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    h1#name {
      font-size: 18px;
      text-align: center;
      font-family: Oswaldesque-Bold;
    }
    h2#resume {
      font-size: 25px;
      text-align: center;
      font-family: Semi-Casual;
    }
    h3 {
      font-weight: bold;
    }
    .minLink {
      display: block;
      font-style: italic;
      font-size: 14px;
      text-decoration: underline;
      text-align: center;
      margin-top: 5px;
      cursor: pointer;
    }
    #about-area {
      p {
        margin: 0;
        width: 450px;
      }
      .minLink {
        text-align: left;
      }
    }
  }
}

input {
  margin: 10px 0;
  width: 240px;
  height:25px;
  font-size: 20px;
}

#about-input{
  width:450px;
  height: 100px;
}

header {
  a {
    @include default-button;
    font-size: 14px;
    width: 100px;
    float: right;
  }
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}


#contacts {
  font-style: italic;
  .contact{
    padding: 20px;
    input {
      margin: 10px 2px;
      width: 100px;
      height:16px;
      font-size: 14px;
    }
    img {
      width: 25px;
      height: 25px;
      margin-bottom: -5px;
      margin-right: 5px;
    }
    a {
      color: gray;
    }
    button {
      color: white;
      background-color: #00f;
      border: 0;
      margin-left: 5px;
    }
  }
}

#new-project {
  input {
    width: 450px;
  }
  textarea {
    width: 450px;
    height: 200px;
  }
}
