@font-face {
    font-family: 'GreatVibes-Regular';
    src: url("../GreatVibes-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswaldesque-Bold';
    src: url("../Oswaldesque Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Semi-Casual';
    src: url("../Semi-Casual.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
